<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Apresentação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="welcome-content">
  <div class="card-container">
    <ion-card>
      
      <div class="welcome-icon-container">
        <ion-icon name="rocket-outline" color="primary"></ion-icon>
      </div>
      
      <ion-card-header>
        <ion-card-subtitle>Projeto de Avaliação</ion-card-subtitle>
        <ion-card-title>Avaliação Formadora 2</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          Bem-vindo! Este aplicativo foi desenvolvido para a avaliação formadora, integrando os conhecimentos adquiridos durante o módulo.
        </p>
        <p class="ion-text-center ion-margin-top">
          <ion-text color="medium">
            <small>Utilize as abas abaixo para navegar.</small>
          </ion-text>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>